* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: "Poppins", cursive;
  --secondary-font: "Inter", cursive;
  --ternary-font: "Inter", cursive;

  --primary-white: whitesmoke;
  --primary-black: black;
}
body {
  font-family: "Poppins", "Inter", "Montserrat";
  position: relative;
}
header {
  width: 100%;
  padding: 0 5%;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--ternary-font);
  color: var(--primary-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  text-decoration: none;
  color: var(--primary-white);
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}
header nav ul li a{
  text-decoration: none;
  color: var(--primary-white);
  font-size: 14px;
}
nav {
  display: flex;
  animation-name: fade;
  animation-duration: 1s;
}
.hero-slide {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero-slide .slide{
  /* display: none; */
  height: 100%;
  width: 100%;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1;
  }
}
.hero-slide .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-slide .slide .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  gap: 10px;
  bottom: 25px;
  left: 50px;
}
.hero-slide .slide .content h1{
  font-size: 80px;
  line-height: 60px;
  background-color: red;
}
.hero-slide .slide .content p{
  font-size: 16px;
  font-family: var(--ternary-font);
  color: var(--primary-white);
}
.hero-slide .slide .content button{
  font-family: var(--ternary-font);
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}
.hero-slide .slide .content button:hover{
  background-color: var(--primary-white);
  color: var(--primary-black);
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: var(--primary-white);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.prev i, .next i {
  font-size: 23px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.hum-menu {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  animation-name: fade;
  animation-duration: 1.5s;
  /* outline: 1px solid var(--primary-white); */
}
.hum-menu div{
  background-color: var(--primary-white);
  width: 100%;
  width: 25px;
  height: 2px;
}

.open div:first-child {
  transform: rotate(45deg) translate(8px, 5px);
  transition: 0.5s ease-in-out;
}
.open div:last-child {
  transform: rotate(-45deg) translate(7px, -5px);
  transition: 0.5s ease-in-out;
}
.open div:nth-child(2) {
  display: none;
}
@media (max-width: 900px) {
  .hum-menu {
    display: flex;

  }
  .header-wrapper {
    position: relative;
  }
  nav{
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5% 10%;
  }
}