<footer>
  <div class="logo">Ethiopian Tourism</div>

  <nav class="nav">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">About</a></li>
      <!-- <li><a href="">Contact us</a></li> -->
    </ul>
  </nav>

  <div>
    <p>Get in Touch with us</p>

    <div class="social_links">
      <a href="www.facebook.com" class="fa-brands fa-facebook"></a>
      <a href="www.telegram.com" class="fa-brands fa-telegram"></a>
      <a href="www.x.com" class="fa-brands fa-x-twitter"></a>
      <a href="www.youtube.com" class="fa-brands fa-youtube"></a>
    </div>
  </div>

</footer>
