<footer>
  <div class="logo">Ethiopian Tourism</div>

  <nav class="nav">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">About</a></li>
      <!-- <li><a href="">Contact us</a></li> -->
    </ul>
  </nav>

  <div>
    <p>Get in Touch with us</p>

    <div class="social_links">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-telegram"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
  </div>

</footer>
