<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>GALLERY</title>
    <script
      src="https://kit.fontawesome.com/8baacd143d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="gallery_page">
      <%-include("header") %>
      <h1>GALLERY</h1>

      <section class="gallery_wrapper">
        <img src="/assets/Axum.jpg" alt="" />
        <img src="/assets/afar-min.jpg" alt="" />
        <img src="/assets/fasil.jpg" alt="" />
        <img src="/assets/gdam.jpg" alt="" />
        <img src="/assets/flag.jpg" alt="" />
        <img src="/assets/lalibela.jpg" alt="" />
        <img src="/assets/lalibela2.jpg" alt="" />
        <img src="/assets/Lalibela_with_people-min.png" alt="" />
        <img src="/assets/omo.png" alt="" />
        <img src="/assets/fasil-min.jpg" alt="" />
        <img src="/assets/Aksum_Remains-min.jpg" alt="" />
        <img src="/assets/Gheralta_Mountains.webp" alt="" />
        <img src="/assets/semine_mount-min.jpg" alt="" />
        <img src="/assets/fasil.jpg" alt="" />
        <img src="/assets/gdam.jpg" alt="" />
        <img src="/assets/lalibela.jpg" alt="" />
      </section>

      <%- include("footer") %>
    </section>

    <script src="/script.js"> </script>
  </body>
</html>
