<header>
  <div class="logo"><a href="/">Ethiopian Tourism</a></div>

  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/aboutus">About us</a></li>
      <!-- <li><a href="/contact">Contact us</a></li> -->
    </ul>
  </nav>

  <div class="hum-menu" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>