<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8baacd143d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <title>Ethiopian Tourism</title>
  </head>
  <body>
    <div class="header-wrapper">
      <header>
        <div class="logo"><a href="">Ethiopian Tourism</a></div>

        <nav class="nav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact us</a></li>
          </ul>
        </nav>

        <div class="hum-menu" onclick="toggleMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </header>
    </div>

    <div class="hero-slide">
      <div class="slide fade">
        <img src="./assets/lalibela.jpg" />
        <div class="content">
          <h1>Lalibela</h1>
          <p>The africa jersalem</p>
          <button class="hero-btn">Learn-more</button>
        </div>
      </div>

      <div class="slide fade">
        <img src="./assets/Axum.jpg" />
        <div class="content">
          <h1>Axum</h1>
          <p>The africa jersalem</p>
          <button class="hero-btn">Learn-more</button>
        </div>
      </div>

      <div class="slide fade">
        <img src="./assets/gdam.jpg" />
        <div class="content">
          <h1>GEDAM</h1>
          <p>The africa jersalem</p>
          <button class="hero-btn">Learn-more</button>
        </div>
      </div>

      <a class="prev" onclick="plusSlide(-1)"
        ><i class="fa-solid fa-chevron-left"></i
      ></a>
      <a class="next" onclick="plusSlide(1)"
        ><i class="fa-solid fa-chevron-right"></i
      ></a>
    </div>

    <div class="info-row">
      <div class="col">
        <h1>
          It's Time For a <span>New Adventure!</span><br />
          Don't Wait Any Longer.
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          beatae eaque non id molestiae iure distinctio, rerum officia atque ea
          est porro maiores eligendi earum, voluptatum nostrum maxime rem
          cupiditate!
        </p>
      </div>

      <div class="col">
        <img src="./assets/lalibela2.jpg">
      </div>
      
    </div>

    <div class="bento_grid_wrapper">
      <h1>Best offer This month</h1>

      <div class="bento_grid">
        <div class="item item1">
          <img src="./assets/lalibela.jpg">
          <h3>AFRICA</h3>
        </div>
        <div class="item item2">
          <img src="./assets/Axum.jpg">
          <h3>AFRICA</h3>
        </div>
        <div class="item item3">
          <img src="./assets/gdam.jpg">
          <h3>AFRICA</h3>
        </div>
        <div class="item item4">
          <img src="./assets/lalibela2.jpg">
          <h3>AFRICA</h3>
        </div>
        <div class="item item5">
          <img src="./assets/fasil.jpg">
          <h3>AFRICA</h3>
        </div>



      </div>
    </div>

    <footer>
      <div class="logo">
        Ethiopian Tourism
      </div>

      <nav class="nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Gallery</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact us</a></li>
        </ul>
      </nav>

      <div>
        <p>Get in Touch with us</p>

        <div class="social_links">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-telegram"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
